# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
OLD
#libs
eclipse
run
classes
gradle
modelfiles

# Project
.cache
secrets.properties
